/*
 contains all shared variables and imports
*/

$screen-min: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$font-light: #888;

$footer-height: 4rem;
$footer-height-mobile: 12rem;
$footer-breakpoint: $screen-sm;


@import './site';
@import './base/page';
@import './base/header';
@import './base/footer';
