<div id="header">
  <a id="home" href="/">
    <div class="logo"></div>
    <h1 class="title">UNC Charlotte Chapter</h1>
  </a>
  <div class="buttons">
    <a id="menu">
      <div class="first"></div>
      <div class="middle-1"></div>
      <div class="middle-2"></div>
      <div class="last"></div>
    </a>
    <span class="options">
      <a id="calendar" href="/calendar"></a>
      <a id="projects" href="/projects"></a>
      <a id="awards" href="/awards"></a>
      <a id="members" href="/members"></a>
      <a id="contact" href="/contact"></a>
    </span>
  </div>
</div>
