* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans';
  font-size: 16px;

  @media (min-width: $screen-sm) {
    font-size: 17px;
  }

  @media (min-width: $screen-md) {
    font-size: 19px;
  }

  @media (min-width: $screen-lg) {
    font-size: 21px;
  }

  @media (min-width: $screen-xl) {
    font-size: 23px;
  }
}

.center {
  width: 95%;
  min-width: 300px;
  max-width: 960px;
  margin: auto;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('/public/assets/fonts/open-sans.woff') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
