#header {
  $header-size: 6rem;

  .center {
    height: $header-size;

    // tmp
    border: 2px solid black;
  }

  & {
    height: $header-size;
  }

  a.home {
    display: inline-block;
  }

  .logo {
    display: inline-block;
    float: left;
    height: $header-size;
    width: $header-size;
  }

  .title {
    color: $font-light;
    display: inline-block;
    float: left;
    font-size: 1.5rem;
    font-weight: normal;
    height: $header-size;
    line-height: $header-size;
    vertical-align: middle;

    &.large {
      display: none;
    }

    @media (min-width: $screen-sm) {
      &.small {
        display: none;
      }

      &.large {
        display: inherit;
      }
    }

  }

  .buttons {
    display: inline-block;
    float: right;
    line-height: $header-size;
  }
}
