<div id="footer">
  <div class="center">
    <a class="section facebook" target="_blank" href="https://www.facebook.com/groups/unccacm/">
      <span>Join us!</span>
    </a>
    <a class="section location" target="_blank" href="http://maps.uncc.edu/#/?nav=PLdbs&ctr=35.30809,-80.73270000000002&z=17&blnd=t,cc-parking,cc-amenities&pop=3F70C2B8-286C-4699-BCDB-84B4F869E503">
      <span>Woodward 125</span>
    </a>
    <a class="section time" ui-sref="calendar">
      <span>Tues / Fri - 5 pm</span>
    </a>
  </div>
</div>
