<div id="header">
  <div class="center">
    <a class="home" ui-sref="home">
      <span class="logo"></span>
      <h1 class="title large">UNC Charlotte Chapter</h1>
      <div class="title small">UNCC Chapter</div>
    </a>
    <a class="button menu"></a>
    <span class="buttons">
      <a class="button" ui-sref="calendar"></a>
      <a class="button" ui-sref="projects"></a>
      <a class="button" ui-sref="awards"></a>
      <a class="button" ui-sref="members"></a>
      <a class="button" ui-sref="contact"></a>
    </span>
  </div>
</div>
