#footer {
  background: #1A1A1A;
  height: $footer-height;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (max-width: $footer-breakpoint) {
    height: $footer-height-mobile;

    .section {
      border-top: 1px solid $font-light;
    }

    .section:first-child {
      border: none;
    }
  }

  @mixin section ($name) {
    $section-height-mobile: $footer-height-mobile / 4;

    .#{$name} {
      background-image: url('/assets/icons/#{$name}.svg');
      background-position: center 25%;
      background-repeat: no-repeat;
      background-size: 1.75rem;
      color: white;
      float:left;
      height: $footer-height;
      overflow: hidden;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: 33% + (1/3);

      @media (max-width: $footer-breakpoint) {
        height: $section-height-mobile;
        background-position: 0 center;
        width: 100%;
        position: relative;
        background-size: $section-height-mobile / 2;
        margin-bottom: .5rem;
      }

      span {
        font-size: .75rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 65%;

        @media (max-width: $footer-breakpoint) {
          display: inline-block;
          font-size: 1rem;
          height: $section-height-mobile;
          left: $section-height-mobile;
          line-height: $section-height-mobile;
          margin-bottom: 1rem;
          position: absolute;
          text-align: left;
          top: 0;
          vertical-align: middle;
        }
      }
    }
  }

  @include section (facebook);
  @include section (location);
  @include section (time);
}
